
    <div class="spinner" ng-show="loading"><img src="./app/assets/img/loading.gif"/></div>
    <!-- Page Content -->
    <div class="container" ng-controller="allArticleController">

      <!-- Page Heading -->
      <!--<h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>-->
<br/>

<p>Check {{myWelcome}}</p>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t1.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project One</a>
				<span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
				</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? </p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <a href="#!article/1" class="btn btn-design">Read More</a>  </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t2.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
				<span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
				</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <button type="button" class="btn btn-design">Read More</button>  </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t3.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
				<span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
				</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit </p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <button type="button" class="btn btn-design">Read More</button>  </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t4.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
				    <span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
					</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <button type="button" class="btn btn-design">Read More</button>  </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t5.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
					<span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
					</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <button type="button" class="btn btn-design">Read More</button>  </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./app/assets/img/t6.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
					<span style="float:right">
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
						<img src="./app/assets/img/favorite.png"/>
					</span>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, </p>
			  <span> <img src="./app/assets/img/user.png"/> Arnab Chakroborty <button type="button" class="btn btn-design">Read More</button>  </span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

